*{
    margin: 0;
}

@font-face{
    src : url("../fonts/Raleway-Regular.ttf") format("Opentype");
    font-style: bolder;
    font-weight: 900;
    font-family: "Raleway-Regular";
}
#login{
    position : absolute;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;    
    width: 100vw;
    height: 100vh;
}
#login .login-blur-container{
    position: relative;
    margin: 5% auto;
    background-color: rgba(35, 64, 66, 0.37);
    width: 40%;
    height: 75%;
    border-radius: 5px;
}
#login .login-blur-container .login-container{
    position: relative;
    top: 10%;
    left: 8%;
    width: 100%;
    height: auto;
}

#login .login-container form{
    position: inherit;
    padding: 25px; 
}

#login .login-container form .image-container{
    display: inline;
}

#login .login-container form h2{
    position: relative;
    left: 0%;
}

#login .login-container form label{
    color: rgb(58, 43, 43);
    font-weight: 600;
    margin-top: 35px;
    font-size: 1.28em;
    font-family: "Raleway-Regular";
}

#login .login-container form input{    
    display: block;
    width: 80%;
    color: white;
    border-bottom: 1px solid rgb(69, 70, 68);
    height: 35px;
    padding: 15px;
    font-family: "Raleway-Regular";
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    transition: all .5s;
}
#login .login-container form .remember{    
    font-size: 0.9em;
}

#login .login-container form input[type="checkbox"]{    
    position: relative;
    top: 15px;
    width: 25px;
    height: 20px;
    display: inline;
}

#login .login-container form input:focus{
    outline: none;
    color: rgb(123, 197, 54);
    border-bottom: 1px solid rgb(144, 192, 100);
    transition: all .5s;
}

#login .login-container form button{
    margin-top: 30px;
    padding: 8px;
    width: 40%;   
    color: rgba(255, 255, 255, 0.589);
    background-color: transparent;
    border: 1px solid rgba(128, 85, 85, 0.822);
    font-family: sans-serif;
    transition: all .5s;
    border-radius: 3px;
}

#login .login-container form button:hover{
    background-color: rgba(128, 85, 85, 0.322);
    color: rgba(59, 40, 40, 0.979);
    transition: all .5s;    
}

#login .login-container form span{
    color: rgba(189, 14, 5);
    font-family: sans-serif;
    font-size: .9em;
    margin-left: 10px;
    display: none;
}
#login .login-container form p{
    color: rgb(144, 192, 100);
    padding-top: 25px;
}

#login .login-container form a{
    color: rgb(218, 96, 15);
}

#login .login-container form a:hover{
    color: rgb(255, 110, 14);
    text-decoration: none;
}

#administrador{
    background-image: url("../img/background-admin.jpeg");
    background-size: cover;
    background-position: center;
    position: absolute;
}

#administrador header{
    width: 100%;
    height: 20vh;
    background-color: rgba(32, 80, 83, 0.822);
}

#administrador header span{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.56em;
    position: relative;
    top: 45px;
}

#administrador header img{
    margin: 12px 50px;
    float: left;
    border-radius: 60%;
    width: 8%;
    height: 100px;
    background-color: transparent;
}

#administrador header nav{
    float: right;
    position: relative;
    top: 35px;
    right: 45px;
}
#administrador header nav ul li{
    display: inline-block;
    padding: 10px;
    color:  white;
    font-family: "Raleway-Regular";
}
#administrador header nav ul li a{
    background-color: transparent;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid rgba(182, 160, 160, 0.328);
    transition: all .5s;
    text-decoration: none;  
    color: white;
}

#administrador header nav ul li a:hover{
    cursor: pointer;
    background-color: rgba(187, 190, 14, 0.239);
    transition: all .5s;
    text-decoration: none;
}

#administrador section{    
    width: 100%;
    height: 80vh;
}

#administrador section .content{
    background-color: rgba(110, 58, 58, 0.541);
    width: 50%;
    height: 75%;
    position: relative;
    top: 10%;
    border-radius: 3px;
    left: 25%;
    filter: blur(2.4px);
}

#administrador section .content-registrar{
    background-color: rgba(110, 58, 58, 0.787);
    width: 50%;
    height: 80%;
    position: relative;
    top: 20%;
    border-radius: 3px;
    left: 25%;
    filter: blur(5px);
}

#administrador section .content-text{
    background-color: transparent;
    width: 50%;
    height: 75%;
    text-align: center;
    position: relative;
    top: -50%;
    border-radius: 3px;
    left: 25%;
    color: white;    
}

#administrador section .content-text .content-elements h4{
    font-family: "Raleway-Regular";
    padding: 15px
}

#administrador section .content-text .content-elements button{
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 3px;
    background-color: rgba(241, 69, 6, 0.28);
    border: 1px solid rgb(255, 127, 80);
    margin-top: 15px;
}

#administrador section .content-text .content-elements button:hover{
    background-color: rgba(241, 69, 6, 0.671);
    transition: all .5s;
}   

#administrador section .content-text .content-elements button:focus{
    outline: none;
}

#administrador header nav ul li .active-button{
    background-color: rgba(187, 190, 14, 0.116);
}

#administrador section .content-text .content-elements .title-registro{
    font-family: "Raleway-Regular";
    padding: 5px
}

#administrador section .content-elements-1{
    float: left;
    position: relative;
    left: 50px;
    text-align: left;
}

#administrador section .content-elements-1 label{
    display: block;
    font-family: "Raleway-Regular";
    margin-top: 10px;
}

#administrador section .content-elements-1 select{
    width: 205px;
    height: 30px;
    background-color: transparent;
    font-family: "Raleway-Regular";
    border: none;
    border-bottom: 1px solid black;
    border-radius: 2px;
    transition: all .5s;
    color: rgba(64, 194, 12, 0.486);
    cursor: pointer;
}
#administrador section .content-elements-1 select:focus{
    outline: none;    
    color: black;
    border-bottom: 1px solid rgba(64, 194, 12, 0.486);
    transition: all .5s;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{ 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#administrador section .content-elements-1 input{
    width: 205px;
    height: 30px;
    background-color: transparent;
    font-family: "Raleway-Regular";
    border: none;
    border-bottom: 1px solid black;
    border-radius: 2px;
    transition: all .5s;
}

#administrador section .content-elements-1 input:focus{
    outline: none;
    color: rgba(64, 194, 12, 0.486);
    border-bottom: 1px solid rgba(64, 194, 12, 0.486);
    transition: all .5s;
}

#administrador section .content-elements-2{
    position: relative;
    text-align: left;
    right: 50px;
    float: right;
}

#administrador section .content-elements-2 label{
    display: block;
    font-family: "Raleway-Regular";
    margin-top: 10px;
}

#administrador section .content-elements-2 input{
    width: 205px;
    height: 30px;
    background-color: transparent;
    font-family: "Raleway-Regular";
    border: none;
    border-bottom: 1px solid black;
    border-radius: 2px;
    transition: all .5s;
}

#administrador section .content-elements-2 input:focus{
    outline: none;
    color: rgba(64, 194, 12, 0.486);
    border-bottom: 1px solid rgba(64, 194, 12, 0.486);
    transition: all .5s;
}

#administrador section input[type="submit"]{
    color: white;
    background-color: transparent;
    border: 1px solid black;
    padding: 8px;
    border-radius: 2px;
    font-family: "Raleway-Regular";
    margin-top: 40%;
    width: 100px;
    transition: all .5s;
}

#administrador section input[type="submit"]:hover{
    background-color: rgba(115, 194, 25, 0.328);
    border: 1px solid wheat;
    color: black;
    transition: all .5s;
}

#administrador section p{
    font-family: "Raleway-Regular";
    padding: 15px;
    font-weight: bold;
    font-style: bolder;
}

/*******************/

#empleado{
    background-image: url("../img/background-admin.jpeg");
    background-size: cover;
    background-position: center;
    position: absolute;
}

#empleado header{
    width: 100%;
    height: 20vh;
    background-color: rgba(32, 80, 83, 0.822);
}

#empleado header span{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.56em;
    position: relative;
    top: 45px;
}

#empleado header img{
    margin: 12px 50px;
    float: left;
    border-radius: 60%;
    width: 8%;
    height: 100px;
    background-color: transparent;
}

#empleado header nav{
    float: right;
    position: relative;
    top: 35px;
    right: 45px;
}
#empleado header nav ul li{
    display: inline-block;
    padding: 10px;
    color:  white;
    font-family: "Raleway-Regular";
}
#empleado header nav ul li a{
    background-color: transparent;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid rgba(182, 160, 160, 0.328);
    transition: all .5s;
    text-decoration: none;  
    color: white;
}

#empleado header nav ul li a:hover{
    cursor: pointer;
    background-color: rgba(187, 190, 14, 0.239);
    transition: all .5s;
    text-decoration: none;
}

#empleado section{    
    width: 100%;
    height: 80vh;
}

#empleado section .content{
    background-color: rgba(110, 58, 58, 0.541);
    width: 60%;
    height: 80%;
    position: relative;
    top: 15%;
    border-radius: 3px;
    left: 25%;
    filter: blur(2.4px);
}

#empleado section .content-text{
    background-color: transparent;
    width: 50%;
    height: 75%;
    text-align: center;
    position: relative;
    top: -50%;
    border-radius: 3px;
    left: 25%;
    color: white;    
}

#empleado section .content-text .content-elements h4{
    font-family: "Raleway-Regular";
    padding: 15px
}

#empleado section .content-text .content-elements button{
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 3px;
    background-color: rgba(241, 69, 6, 0.28);
    border: 1px solid rgb(255, 127, 80);
    margin-top: 15px;
    display: block;
}

#empleado section .content-text .content-elements button:hover{
    background-color: rgba(241, 69, 6, 0.671);
    transition: all .5s;
}   

#empleado section .content-text .content-elements button:focus{
    outline: none;
}

#empleado header nav ul li .active-button{
    background-color: rgba(187, 190, 14, 0.116);
}

#empleado section .content-text .content-elements .title-registro{
    font-family: "Raleway-Regular";
    padding: 5px
}

#empleado section .content-elements{
    float: left;
    position: relative;
    left: 50px;
    text-align: left;
}

#empleado section .content-elements label{
    display: block;
    font-family: "Raleway-Regular";
    margin-top: 10px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{ 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#empleado section .content-elements input{
    width: 205px;
    height: 30px;
    background-color: transparent;
    font-family: "Raleway-Regular";
    border: none;
    border-bottom: 1px solid black;
    border-radius: 2px;
    transition: all .5s;
}

#empleado section .content-elements input:focus{
    outline: none;
    color: rgba(64, 194, 12, 0.486);
    border-bottom: 1px solid rgba(64, 194, 12, 0.486);
    transition: all .5s;
}

#empleado section input[type="submit"]{
    color: white;
    background-color: transparent;
    border: 1px solid black;
    padding: 8px;
    border-radius: 2px;
    font-family: "Raleway-Regular";
    margin-top: 40%;
    width: 100px;
    transition: all .5s;
}

#empleado section span{
    color: rgb(138, 13, 13);
    font-family: "Raleway-Regular";
    padding: 0;
}

#empleado section input[type="submit"]:hover{
    background-color: rgba(115, 194, 25, 0.328);
    border: 1px solid wheat;
    color: black;
    transition: all .5s;
}

#empleado section p{
    font-family: "Raleway-Regular";
    padding: 15px;
    font-weight: bold;
    font-style: bolder;
}

#empleado ::placeholder{
    font-family: "Raleway-Regular";
}

#ReporteEmpleado table{
    width: auto;
    padding: 15px;
    margin: 5%;
    width: 80%;
    
    border-radius: 5px;
}
#ReporteEmpleado table tr th{
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    font-family: "Raleway-Regular";
    color: white;
    text-transform: uppercase;
}

#ReporteEmpleado table tr td{
    border: none;
    border-bottom: 1px solid rgb(90, 60, 60);
    padding: 10px;
    font-family: "Raleway-Regular";
    color: white;
}


#ReporteEmpleado form {
    display: block;
}
#ReporteEmpleado form input{
    height: 30px;
    background-color: transparent;
    font-family: "Raleway-Regular";
    border: none;
    border-bottom: 1px solid black;
    border-radius: 2px;
    transition: all .5s;
    
}

#ReporteEmpleado form input:focus{
    
    outline: none;
    color: rgba(64, 194, 12, 0.486);
    border-bottom: 1px solid rgba(64, 194, 12, 0.486);
    transition: all .5s;    
}
